<div class="container">
    <h1 class="text-center mb-5">Danh mục cửa hàng</h1>
    <section id="brand" class="row d-flex flex-row align-items-center justify-content-around bg-transparent">
        <div class="brand col-lg-2 col-md-3 col-sm-6" *ngFor="let brand of brands" (click)="filterBrand(brand)">
            <div class="img-container">
                <img src="../../../assets/images/{{brand}}.png" alt="{{brand}}" class="brand-img">
            </div>
            <h4 id="brand-name">{{brand}}</h4>
        </div>
    </section>
</div>