<div class="product" id="product" *ngIf="prod">
    <div class="product-header">
        <a [routerLink]="['/product',prod.productID ]" title="{{prod.productName}}">
            <img class="card-img mx-auto d-block mt-5" src="{{prod.productImage}}" alt="{{prod.productName}}">
        </a>
    </div>
    <div class="product-content mt-5 align-items-center">
        <a [routerLink]="['/product',prod.productID ]" class="product-name" title="{{prod.productName}}">
            <p class="text-center">{{prod.productName}}</p>
        </a>
    </div>
    <div class="product-footer text-center mb-5 flex-end">
        <h6 class="text-center mb-5 product-price">{{prod.buyPrice | price}}<span class="currency">đ</span></h6>
        <button class="btn btn-dark mx-auto btn-add" (click)="onAdd(prod)">Thêm vào giỏ hàng</button>
    </div>
</div>