<footer>
    <div class="container">
        <div class="row footer-info">
            <div class="col-sm-4 contact">
                <h5>THÔNG TIN LIÊN HỆ</h5>
                <div class="line"></div>
                <p><span>> HOT LINE: </span>090 143 22 41</p>
                <p><span>> Email CSKH: </span>cskh@quang.com</p>
                <p><span>> Email Hợp tác: </span>info@quang.com</p>
                <p><span>> Email phản ánh dịch vụ: </span>phananhdichvu@quang.com</p>
                <p><span>Thời gian làm việc: </span> Thứ 2 - Thứ 7 / 9:00 AM - 9:00 PM <br> Chủ nhật / 9:00 AM - 7:00 PM
                </p>
                <p><span>Địa chỉ: </span>E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
            </div>
            <div class="col-sm-4 rule">
                <h5>ĐIỀU KHOẢN & QUYỀN LỢI</h5>
                <div class="line"></div>
                <p><a href="">> Chính sách & quyền lợi</a></p>
                <p><a href="">> Hướng dẫn mua hàng Online</a></p>
                <p><a href="">> Chính sách giao hàng</a></p>
                <p><a href="">> Chính sách bảo hành & đổi trả</a></p>
                <p><a href="">> Câu hỏi FAQ</a></p>
                <p><a href="">> Liên hệ cho chúng tôi</a></p>
                <span>THEO DÕI CHÚNG TÔI</span>
                <div class="line"></div>
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-envelope"></i></a>
            </div>
            <div class="col-sm-4 registerfollow">
                <h5>ĐĂNG KÝ THEO DÕI</h5>
                <div class="line"></div>
                <p>Chúng tôi sẽ sớm ra mắt chức năng đăng ký nhận thông tin khuyến mãi</p>
                <h5>QUANG TRAN'S STORE</h5>
                <div class="line"></div>
                <p><span>Giấy CNĐKKD: </span>41K8021836 do Sở KH & ĐT Hà Nội cấp lần đầu ngày 11/03/2022</p>
                <a href=""><img src="../../../assets/images/certification.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="end">
        <div class="container copyright">
            <span>Copyright 2021 © Quang Tran's Store</span>
            <span>Website thuộc bản quyền của Quang Tran's Store</span>
        </div>
    </div>
</footer>